html, body {
  height: 100%;
}

.creme {
  background: linear-gradient(180deg, #e6e6e6 ,#fffae6);
}

.bleue {
  background: linear-gradient(180deg, #fffae6 ,#e6f7ff);
}

.grene {
  background: linear-gradient(180deg, #e6f7ff ,#ebfaeb);
}

.rose {
  background: linear-gradient(180deg, #ffffff, #e6e6e6);
}


.citrone {
  background: linear-gradient(180deg, #ffffff ,#fff5e6);
}

.ice {
  background: linear-gradient(180deg, #ffffff ,#e6f0ff);
}

.grey {
  background: linear-gradient(180deg, #e6f0ff , #d1d1e0);
}

.slogan {
  margin-top: 20%;
}


.right {
  background: linear-gradient(180deg, #fff5e6, pink);
}

.down {
  height: 1500px;
  background-color: green;
}


.grey-light {
  background-color: #f0f0f5;
}

.grey-light-to-white {
  background: linear-gradient(180deg, #f0f0f5, white);
}

.grey-normal {
  background-color: #e0e0eb;
}



.navbar-toggler {
  border: none;
  outline: none;
}

.half-img {
  width: 80%;
  height: auto;
}

.big-text {
  font-size: 1.5em;
}

.bigger-text {
  font-size: 2.0em;
}

.white-text {
  color: white;
  text-shadow: 3px 3px 15px black;
}

.fuel {
  box-shadow: 3px 3px 15px black;
}

.paliwa {
  font-family: 'EB Garamond', serif;
}
.eco {
  background-image: url("/static/images/eco.jpg");
  background-position: center;
  background-size: cover;
}

.traffic {
  background-image: url("/static/images/traffic.jpg");
  background-position: center;
  background-size: cover;
}

.trucks {
  background-image: url("/static/images/trucks.jpg");
  background-position: right;
  background-size: cover;
}

.ekoterm {
  background-image: url("/static/images/ekoterm.jpg");
  background-position: center;
  background-size: cover;
}
