html, body {
  height: 100%;
}

.slogan {
  margin-top: 20%;
}

.left {
  background: linear-gradient(180deg, #ffffff ,green);
}

.right {
  background: linear-gradient(180deg, #fff5e6, pink);
}

.down {
  height: 1500px;
  background-color: green;
}

.gold {
  background-color: gold;
}

.green {
  background-color: green;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.olive {
  background-color: olive;
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
