<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Historia{% endblock title %}

{% block content %}
<div class="container-fluid grey-light">
  <div class="container">
    <br><br>
    <br><br>
    <h2>O firmie</h2>
    <br><br>
    <p>Mamy siedzibę przy ul. Naftowej 1 w Czerwieńsku koło Zielonej Góry w województwie Lubuskim.</p>
    <p>Wiarygodność i szacunek budowaliśmy przez 60 lat. Najpierw, jako zakład funkcjonujący w strukturach Centrali Produktów Naftowych, a od 2000 roku jako spółka z o.o. W 2020 roku otworzyliśmy oddział w Szczecinie. Rozwijamy się dlatego, że Klienci polecają nas sobie. Szczerze troszczymy się o każdego Klienta i to procentuje. Pracujemy w zgranym 28 osobowym zespole, który łączy energię i wysokie tempo pracy młodego pokolenia, z ogromną wiedzą ekspertów z ponad 30 letnim doświadczeniem. Wspólnie dbamy o to, aby każdy Klient mógł liczyć na naszą pomoc niezależnie od sytuacji.</p>
    <br><br>
    <p>Specjalizujemy się w branży petrochemicznej:</p>
    <p>- paliwa, adblue, zbiorniki,</p>
    <p>- olej napędowy grzewczy - Autoryzowany Dystrybutor Ekoterm PKN ORLEN S.A.,</p>
    <p>- oleje, smary i płyny - Autoryzowany Dystrybutor ORLEN OIL,</p>
    <p>- środki smarne i ekploatacyjne - Fuchs, Shell, Mobil i wielu innych,</p>
    <p>- usługi rekultywacji, badań i ochrony środowiska.</p>
    <br><br>
    <p>Dysponujemy:</p>
    <p>- 5 autocystern,</p>
    <p>- 7 pojazdów dostawczych,</p>
    <p>- 4 magazyny,</p>
    <p>- 6 pojazdów handlowych,</p>
    <p>- 2 specjalistyczne pojazdy na potrzeby ochrony środowiska,</p>
    <p>- pełna infrastruktura magazynowania paliw.</p>
    <br><br>
  </div>
</div>


{% endblock content %}
