<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Phones{% endblock title %}

{% block content %}
<div class="container-fluid grey-light">
  <br><br>
  <br><br>
  <h2>Dane adresowe</h2>
  <br><br>
  <div class="row">
    <div class="col-md-6 container">
      <p>CPN Ekoserwis Sp. z o.o.</p>
      <p>ul. Naftowa 1, 66-016 Czerwieńsk</p>
      <p>e-mail biuro@cpnekoserwis.pl</p>
      <p>NIP 9730674218</p>
      <p>REGON 971285090</p>
      <p>KRS 000041644</p>
      <p>Bank PKO BP</p>
      <p>konto nr 70 1020 5402 0000 0102 0381 1627</p>
    </div>
    <div class="col-md-6 container">
      <br><br>
      <p>Oddział w Szczecinie:</p>
      <p>ul. Gdańska 5, 70-660 Szczecin</p>
    </div>
  </div>
</div>
<div class="container-fluid grey-normal">
  <br><br>
  <h2>Telefony</h2>
  <br><br>
  <div class="row">
    <div class="col-md-6 container">
      <p>Paliwa:</p>
      <p>Marcin Sędra - 607 696 435</p>
      <p>Jacek Towpik - 607 100 709</p>
      <br><br>
      <p>SENT, AKC-R:</p>
      <p>Anna Krupnicka - 667 271 350</p>
      <br><br>
      <p>Oleje:</p>
      <p>Tomasz Pietryka - 607 065 781</p>
      <p>Łukasz Jastrzębski - 603 773 863</p>
      <p>Jan Ciszak - 601 156 136</p>
      <br><br>
    </div>
    <div class="col-md-6 container">
      <p>Ochrona środowiska:</p>
      <p>Paweł Bielski - 607 356 825</p>
      <br><br>
      <p>Księgowość:</p>
      <p>Adam Wasylkowski - 570 642 922</p>
      <br><br>
      <p>Biuro: +48 68 327 80 43</p>
      <br><br>
      <p>Oddział w Szczecinie:</p>
      <p>Paweł Żukowski - 695 196 030</p>
      <p>Tomasz Knyrek - 506 000 353</p>
    </div>
  </div>
  <br><br>
</div>

{% endblock content %}
