<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Ekoterm{% endblock title %}

{% block content %}
<div class="container-fluid grey-light-to-white">
  <div class="container">
    <br><br>
    <br><br>
    <h2>Ekoterm</h2>
    <br><br>
    <p>Jako Autoryzowany Dystrybutor Oleju Grzewczego Ekoterm produkowanego przez PKN ORLEN S.A. gwarantujemy wysoką jakość i parametry oferowanego przez nas produktu. Ekoterm to lekki olej grzewczy do zasilania kotłów centralnego ogrzewania w domkach jednorodzinnych, ciepłowniach osiedlowych, suszarniach, piecach przemysłowych i technologicznych.</p>
    <p>Korzyści wynikajšce z użytkowania oleju opałowego Ekoterm to:</p>
    <p>- wysoka wydajnoć i ekonomicznoć paliwa grzewczego,</p>
    <p>- dostępnoć produktu na terenie całego kraju,</p>
    <p>- dostawa na miejsce w ciągu 24 godzin,</p>
    <p>- niska zawartoć siarki,</p>
    <p>- prosta obsługa instalacji grzewczej,</p>
    <p>- większa żywotnoć urządzeń grzewczych wynikająca z zastosowania dodatków,</p>
    <p>- bezpieczeństwo użytkowania dzięki wysokiej temperaturze zapłonu.</p>
    <p>Zamówienia przyjmujemy pod numerem telefonu 068 3278043 od poniedziałku do piątku w godzinach od 7:00 do 16:00</p>
    <br><br>
  </div>
</div>


{% endblock content %}
