<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Ekoterm{% endblock title %}

{% block content %}
<div class="container-fluid grey-light-to-white">
  <div class="container">
    <br><br>
    <br><br>
    <h2>Ekoterm</h2>
    <br><br>
    <p>Jako Autoryzowany Dystrybutor Oleju Grzewczego Ekoterm produkowanego przez PKN ORLEN S.A. gwarantujemy wysoką jakość i parametry oferowanego przez nas produktu. Ekoterm to lekki olej grzewczy do zasilania kotłów centralnego ogrzewania w domkach jednorodzinnych, ciepłowniach osiedlowych, suszarniach, piecach przemysłowych i technologicznych.</p>
    <p>Korzyści wynikajšce z użytkowania oleju opałowego Ekoterm to:</p>
    <p>- wysoka wydajnoć i ekonomicznoć paliwa grzewczego,</p>
    <p>- dostępnoć produktu na terenie całego kraju,</p>
    <p>- dostawa na miejsce w ciągu 24 godzin,</p>
    <p>- niska zawartoć siarki,</p>
    <p>- prosta obsługa instalacji grzewczej,</p>
    <p>- większa żywotnoć urządzeń grzewczych wynikająca z zastosowania dodatków,</p>
    <p>- bezpieczeństwo użytkowania dzięki wysokiej temperaturze zapłonu.</p>
    <p>Zamówienia przyjmujemy pod numerem telefonu 068 327 80 43 od poniedziałku do piątku w godzinach od 7:00 do 16:00.</p>
    <br><br>
    <h2>Obowiązek rejestracji</h2>
    <p>W związku ze zmianami w obrocie olejami opałowymi zachęcamy do zapoznania się z informacjami. W trosce o dalszą udaną współpracę prosimy naszych klientów o dopełnienie obowiązków w zakresie rejestracji na okolicznoć zakupu oleju opałowego. Prosimy o niezwłoczne dopełnienie formalności.</p>
    <a href="https://www.puesc.gov.pl/sent-oil">Opis i podstawa AKC-RU</a>
    <br><br>
    <a href="https://puesc.gov.pl/documents/10180/107246704/Paliwa_opalowe_2019_ulotka_1.pdf/7b84fa6f-d308-43c4-95d3-e294cbf67afb">Instrukcja - osoby fizyczne i podmioty nieprowadzące działalności gospodarczej.</a>
    <br><br>
    <a href="https://puesc.gov.pl/documents/10180/107246704/Paliwa_opalowe_2019_ulotka_2.pdf/50e2e24b-0059-442e-9d41-9675d6f62012">Instrukcja - podmioty prowadzące działalność gospodarczą</a>
    <br><br>
    <br><br>
  </div>
</div>


{% endblock content %}
