<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Ochrona środowiska{% endblock title %}

{% block content %}
<div class="container-fluid grey-light">
  <div class="container">
    <br><br>
    <br><br>
    <h2>Ochrona środowiska</h2>
    <br><br>
    <h3>Ekologia, rekultywacja zbiornika olejów przepracowanych</h3>
    <p>W zakres usług związanych z gospodarką odpadami, ochroną środowiska i geologią wchodzą następujące prace:</p>
    <p>- rekultywacja terenów zanieczyszczonych substancjami ropopochodnymi,</p>
    <p>- rozpoznanie stanu rodowiska gruntowo - wodnego,</p>
    <p>- odbiór olejów przepracowanych i innych rodzajów odpadów poprodukcyjnych,</p>
    <p>- czyszczenie zbiorników paliwowych,</p>
    <p>- odzysk odpadów ropopochodnych,</p>
    <p>- likwidacja stacji paliw,</p>
    <p>- prace rekultywacyjne, modernizacyjne, ziemne oraz geologiczne,</p>
    <p>- wszelkie usługi projektowe, dokumentacyjne oraz opracowywanie ekspertyz w zakresie geologii, rekultywacji i ochrony rodowiska,</p>
    <p>- transport odpadów niebezpiecznych.</p>
    <br><br>
    <h3>Gospodarka odpadami</h3>
    <p>CPN EKOSERWIS Sp. z o.o. prowadzi działalność w zakresie gospodarki odpadami na podstawie decyzji:</p>
    <p>- Lubuskiego Urzędu Wojewódzkiego w Gorzowie Wlkp. znak R.III.Apol.66266/06 z dnia 21 kwietnia 2006 r. zezwalającej na odzysk, zbieranie i transport odpadów,</p>
    <p>- Marszałka Województwa Lubuskiego w Zielonej Górze znak: DW.II.7712-8-4/10 z dnia 17 maja 2010 r. zatwierdzającej program gospodarki odpadami wytwarzanymi w związku z prowadzeniem działalności polegającej na świadczeniu usług w zakresie budowy, rozbiórki, remontu obiektów, czyszczenia zbiorników lub urządzeń oraz sprzątania, konserwacji i napraw.</p>
    <br><br>
    <p>Na terenie naszej firmy prowadzimy odzysk odpadów w instalacji do oczyszczania gruntów zanieczyszczonych substancjami ropopochodnymi (płyta do remediacji) i instalacji do separacji odpadów ropopochodnych. Wykaz rodzajów odpadów poddawanych odzyskowi na terenie CPN EKOSERWIS Sp. z o.o. zawarto w decyzji. Ponadto zbieramy i transportujemy odpady przemysłowe poprodukcyjne. Wszelkie prace wykonane w ramach zleconej usługi prowadzone są zgodnie z obowiązującymi przepisami w zakresie ochrony środowiska, geologii i gospodarki odpadami. Współpracujemy z laboratoriami posiadającymi akredytację na prowadzenie prac analitycznych.</p>
    <p><p>Serdecznie zapraszamy do kontaktu pod nr telefonu 068 327 80 43 w dniach od poniedziałku do piątku w godzinach od 7:00 do 16:00.</p>
    <br><br>
  </div>
</div>


{% endblock content %}
