<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Paliwa{% endblock title %}

{% block content %}
<div class="container-fluid grey-light-to-white">
  <div class="container">
    <br><br>
    <br><br>
    <h2>Paliwa</h2>
    <br><br>
    <p>Dostarczamy paliwa tylko najwyższej jakości. Przede wszystkim olej napędowy B0 i B7 oraz benzynę bezołowiową Pb95.</p>
    <p>Dostawy do odbiorców prowadzimy za porednictwem własnej floty nowoczesnych autocystern wyposażonych w pompy oraz legalizowane przepływomierze, co w połączeniu ze sprawną logistyką pozwala na szybkie i skuteczne dostawy w różnych warunkach rozładunku u klienta.</p>
    <p>Zamówienia przyjmujemy pod numerem telefonu 068 3278043 od poniedziałku do piątku w godzinach od 7:00 do 16:00</p>
    <br><br>
  </div>
</div>


{% endblock content %}
