<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="h-75 d-inline-block container-fluid">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid">
    <div class="h-25 d-inline-block container-fluid"></div>
    <div class="h-50 d-inline-block container-fluid text-center">
      <h1>CPN EKOSERWIS</h1>
      <p>Paliwa / oleje / płyny</p>
      <p>Ochrona środowiska / odpady</p>
    </div>
  </div>
</div>
<div class="vh-100 rose text-center">
  <p>Autoryzowany Dystrybutor ORLEN OIL</p>
</div>
<div class="vh-100 creme text-center">
  <p>paliwa</p>
</div>
<div class="vh-100 bleue text-center">
  <p>płyny eksploatacyjne</p>
</div>
<div class="vh-100 grene text-center">
  <p>ochrona środowiska</p>
</div>
<div class="vh-100 citrone text-center">
  <p>dokumenty</p>
</div>
<div class="vh-100 mint text-center">
  <p>historia</p>
</div>
<div class="vh-100 ice text-center">
  <p>polityka prywatności</p>
</div>
{% endblock content %}
