<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="h-100 d-inline-block container-fluid trucks">
</div>
<div id="oils" class="h-100 d-inline-block container-fluid">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="row text-center">
    <div class="col-md-6 p-d-3">
      <img class="half-img" src="{% static 'images/ooad.png' %}" alt="">
    </div>
    <div class="col-md-6 big-text p-3">
      <p>Oleje, smary</p>
      <p>płyny eksploatacyjne</p>
      <hr>
      <p>samochody ciężarowe</p>
      <p>rolnictwo</p>
      <p>przemysł</p>
      <p>motoryzacja</p>
      <a class="btn btn-outline-danger btn-lg" href="{% url 'pages:oils' %}" role="button">Więcej</a>
    </div>
  </div>
  <div class="h-25 d-inline-block container-fluid"></div>
</div>

<div id="ekoterm" class="h-100 d-inline-block container-fluid ekoterm">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid text-center bigger-text">
    <p>Olej grzewczy ekoterm</p>
    <img src="{% static 'images/ekoterm_logo.png' %}" width="200" height="60" alt="" loading="lazy">
    <p></p>
    <a class="btn btn-outline-dark btn-lg p-t-3" href="{% url 'pages:ekoterm' %}" role="button">Więcej</a>
  </div>
  <div class="h-25 d-inline-block container-fluid"></div>
</div>

<div id="fuels" class="h-100 d-inline-block container-fluid traffic text-center">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid">
    <p class="white-text display-4">Paliwa</p>
    <a class="btn" href="{% url 'pages:fuels' %}" role="button">
      <img class="rounded fuel" src="{% static 'images/on.png' %}" width="70" height="70" alt="" loading="lazy">
      <img class="rounded fuel" src="{% static 'images/pb.png' %}" width="70" height="70" alt="" loading="lazy">
    </a>
  </div>
  <div class="h-25 d-inline-block container-fluid"></div>
</div>

<div id="eco" class="vh-100 eco text-center bigger-text">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid">
    <p class="white-text">Ochrona środowiska</p>
    <p class="white-text">odpady</p>
    <p class="white-text">dokumentacja</p>
    <a class="btn btn-light btn-lg" href="{% url 'pages:environment' %}" role="button">Więcej</a>
  </div>
</div>

<div id="contact" class="container">
  <br><br>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <p>CPN Ekoserwis Sp. z o.o.</p>
        <p>ul. Naftowa 1, 66-016 Czerwieńsk</p>
        <p>tel. +48 68 327 80 43</p>
        <p>e-mail biuro@cpnekoserwis.pl</p>
        <p>NIP 9730674218</p>
        <p>REGON 971285090</p>
        <p>KRS 000041644</p>
        <p>Bank PKO BP</p>
        <p>konto nr 70 1020 5402 0000 0102 0381 1627</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <br><br>
        <p>Oddział w Szczecinie:</p>
        <p>ul. Gdańska 5, 70-660 Szczecin</p>
        <p>tel. +48 695 196 030
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid text-center">
  <a class="btn btn-outline-dark btn-lg" href="{% url 'pages:contact' %}" role="button">Telefony</a>
</div>

<div id="history" class="vh-100 ice text-center">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid">
    <a class="btn" href="{% url 'pages:history' %}" role="button">
      <img class="rounded-circle shadow-lg" src="{% static 'images/clock.png' %}" width="300" height="300" alt="" loading="lazy">
    </a>
  </div>
  <div class="h-25 d-inline-block container-fluid"></div>
</div>

<div id="policy" class="vh-100 grey text-center">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid big-text">
    <p>Polityka prywatności</p>
    <p>RODO</p>
    <p>cookies</p>
    <a class="btn btn-outline-dark btn-lg" href="{% url 'pages:privacy' %}" role="button">Więcej</a>

  </div>
  <div class="h-25 d-inline-block container-fluid"></div>
</div>

{% endblock content %}
