<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="h-75 d-inline-block container-fluid">
  <div class="h-25 d-inline-block container-fluid"></div>
  <div class="h-50 d-inline-block container-fluid">
    <div class="h-25 d-inline-block container-fluid"></div>
    <div class="h-50 d-inline-block container-fluid text-center">
      <h1>CPN EKOSERWIS</h1>
      <p>Paliwa / oleje / płyny</p>
      <p>Ochrona środowiska / odpady</p>
    </div>
  </div>
</div>
{% endblock content %}
