<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Oleje{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <br><br>
    <br><br>
    <div class="row text-center">
      <div class="col-md-6 p-d-3">
        <br><br>
        <img class="half-img" src="{% static 'images/logo_orlen_oil.jpg' %}" alt="">
        <br><br>
      </div>
      <div class="col-md-6 big-text p-3">
        <p>Jesteśmy dumni, że ORLEN OIL wybrał właśnie nas do dystrybucji swoich produktów i od wielu lat, będąc jedną z nielicznych firm możemy przedstawiać się, jako</p>
        <p>Autoryzowany Dystrybutor ORLEN OIL.</p>
      </div>
    </div>
    <br><br>
    <br><br>
    <div class="row text-center">
      <div class="col-md-6 big-text p-3">
        <p>Szczególnie cieszy nas, że ORLEN OIL w uznaniu naszych wyników powierzył nam zadanie promowania swojej prestiżowej marki olejów PLATINUM.</p>
      </div>
      <div class="col-md-6 p-d-3">
        <img class="half-img" src="{% static 'images/AD_OO_poziom_red.png' %}" alt="">
      </div>

    </div>

  </div>
  <br><br>
  <br><br>
</div>
<div class="container-fluid grey-normal">
  <div class="container big-text">
    <br><br>
    <p>Oferujemy oleje, smary, płyny eksploatacyjne oraz chemię samochodową, czyli pełen asortyment produktów z oferty ORLEN OIL, ale również FUCHS, SHELL, MOBIL, MANNOL, TOTAL i wielu innych.</p>
    <p>Zapewniamy pomoc w doborze właściwego produktu.</p>
    <p>Dzięki doskonałym relacjom handlowym w całym kraju możemy zaoferować środki smarne, czy płyny eksploatacyjne niemal każdej marki w dobrych cenach.</p>
    <p>Zamówienia realizujemy szybko.</p>
    <p>Serdecznie zapraszamy do kontaktu pod nr telefonu 068 327 80 43 w dniach od poniedziałku do piątku w godzinach od 7:00 do 16:00. Można też do nas napisać na adres email - sprzedaz@cpnekoserwis.pl</p>
  </div>
  <br><br>
  <br><br>
</div>


{% endblock content %}
