<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Phones{% endblock title %}

{% block content %}

<div class="vh-100 container-fluid">
  <p class="text-center bigger-text">Telefony</p>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <p>Paliwa:</p>
        <p>Marcin Sędra - 607 696 435</p>
        <p>Jacek Towpik - 607 100 709</p>
        <br><br>
        <p>SENT, AKC-R:</p>
        <p>Anna Krupnicka - 667 271 350</p>
        <br><br>
        <p>Oleje:</p>
        <p>Tomasz Pietryka - 607 065 781</p>
        <p>Dawid Fediuk - 607 100 710</p>
        <p>Łukasz Jastrzębski - 603 773 863</p>
        <p>Jan Ciszak - 601 156 136</p>
        <br><br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <p>Ochrona środowiska:</p>
        <p>Paweł Bielski - 607 356 825</p>
        <br><br>
        <p>Księgowość:</p>
        <p>Adam Wasylkowski - 570 642 922</p>
        <br><br>
        <p>Oddział w Szczecinie:</p>
        <p>Paweł Żukowski - 695 196 030</p>
        <p>Tomasz Knyrek - 506 000 353</p>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
