<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Polityka prywatności{% endblock title %}

{% block content %}
<div class="container">
  <br><br>
  <br><br>
  <h2>Polityka prywatności</h2>
  <br><br>
  <p>Nie korzystamy z plików cookies, nie zbieramy danych osób odwiedzających naszą stronę internetową, nie śledzimy aktywności odwiedzających, nie sprawdzamy adresów IP komputerów i innych urządzeń wykorzystywanych do przeglądania naszej strony internetowej.</p>
</div>


{% endblock content %}
